.select{
    border: none;
    padding: 5px 8px;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
}

.option{
    background-color: #fff;
    padding: 5px 0;
    border: none;
}

.wrapper{
    position: relative;
}

.wrapper::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-3px);
    display: block;
    width: 0;
    height: 0;

}


.select::-ms-expand{
    display: none;
}


