.arrow{
    transform: rotateZ(90deg);
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    top: 25px;
    right: 20px;
    transition: all 0.3s ease;
    user-select: none;
    z-index: 101;
}

.arrow:hover{
    opacity: 1;
}

.active{
    transform: translateY(65px) rotateZ(90deg);
}